.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 200px 60px;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1279.9px) {
  .page {
    padding: 45px 51px 60px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding: 28px 19px 36px;
  }
}
