.profile__header {
  display: flex;
  align-items: baseline;
  position: relative;
  word-break: break-all;
  overflow-wrap: break-word;
}

@media screen and (max-width: 500px) {
  .profile__header {
    margin-bottom: 9px;
  }
}
