.page__button {
  transition: opacity 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-transition: opacity 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: opacity 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: opacity 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: opacity 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.page__button:hover {
  opacity: 0.6;
}
