.article__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px 31px 21px;
}

@media screen and (max-width: 500px) {
  .article__text {
    padding-bottom: 25px;
  }
}
