.profile__addcard-button {
  width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  border: 2px solid #fff;
  background: url('../../../images/addcard-img.svg') center / 22px 22px
    no-repeat;
  cursor: pointer;
}
